{% extends "base.html" %}

{% block content %}
    <h1>User Sign up</h1>
    <form method='POST'>
        <table id="usersignup">
            <tbody>
                <tr>
                    <td>
                        <label>Username:</label>
                    </td>
                    <td>
                        <input type="text" name="username" value='{{username}}'>
                    </td>
                    <td>
                        <!-- username Error -->
                        <p class="error">{{username_error}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Password:</label>
                    </td>
                    <td>
                        <input type="password" name="pass">
                    </td>
                    <td>
                        <!-- invalid password -->
                        <p class="error">{{password_error}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Verify Password:</label>
                    </td>
                    <td>
                        <input type="password" name="verifypass">
                    </td>
                    <td>
                        <!-- Password doesn't match -->
                        <p class="error">{{verify_password_error}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Email(optional):</label>
                    </td>
                    <td>
                        <input type="text" name="email" value='{{email}}'>
                    </td>
                    <td>
                        <!-- Email Error -->
                        <p class="error">{{email_error}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <input type="submit">
    </form>
{% endblock %}